<ion-header>
  <ion-toolbar>
    <ion-title>Login Rapidito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>RappiDitto</ion-card-title>
    </ion-card-header>

    <img src="/assets/img/ComidaRapidaAPP.jpg" alt="Logo Comida">
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Ingrese Email" type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese Password" type="Password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-button shape="round" expand="full" href="/home">Ingresar</ion-button>
    <div class="bar error" *ngIf="error">
      {{error}}
    </div>
    <br>
    <a href="/registro">Registrar</a>
    </ion-card-content>
  </ion-card>
</ion-content>
